*
{
	box-sizing:border-box;
}

.container
{
	width:400px;
	background-color:#EEE;
	margin:100px auto;
	padding:10px;
	border:1px solid #CCC;
	height:200px;
}

.translate
{
	background-color:#080;
	color:#FFF;
	text-align:center;
	height:180px;
	transition:all 1s ease-in-out;
}

.translate:hover
{
	/*
	translateX(40px);
	translateY(40px);
	translate(40px,40px);
	*/
	transform:translate(40px,40px);
}

.translate:active
{
	transform:translateX(-160px) scale(0.5) rotate(25deg);
}